.index
	%h2 Uploads
	%table.index_table
		%tr
			%th
			%th Upload Time
			%th File Name
			%th # of Records
			%th Headers
			%th Options
		- @all_uploads.each do |upload|
			%tr
				%td.radio_select= radio_button_tag 'select_upload', upload.id
				%td
					= upload.created_at.strftime("%b %-d, %Y")
					%br
					= upload.created_at.strftime("%l:%M%P")
				%td= upload.name
				%td= upload.row_count
				%td 
					- header_list = Header.find_all_by_upload_id(upload.id).collect { |header| header.name }.drop(1).join(', ')
					%span{:title => header_list}= "#{header_list[0,12]}..."
				%td
					%ul.index_options
						%li= link_to 'View Data', view_observations_upload_path(upload)
						%li= link_to 'Delete', upload_path(upload), :method => :delete, :confirm => 'Delete this upload?'
