%h2= "New Upload for #{Project.find(@current_project_id).name}"
= form_tag uploads_path, multipart: true do
	= file_field_tag :file
	= hidden_field_tag 'current_project_id', @current_project_id
	= submit_tag 'Upload'
