!!!
%html
	%head
		%title TURF Tool
		= stylesheet_link_tag :application, :media => 'all'
		= javascript_include_tag :application
		= yield :head
	%body
		= render :partial => '/shared/nav'
		#content
			%div#notice_space
				- if flash[:notice]
					%div#notice= flash[:notice]
			= render :partial => '/shared/errors'
			#main_content
				= yield
